html {
  height: 100%;
  width: 100%;
  background-color: black;
  color: lime;
  text-align: center;
}

button {
  background-color: magenta;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: none;
}